/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


body {
/*Typography stuff*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
/*Miscellaneous*/
	--swiper-pagination-bullet-inactive-color: #cacaca;
	--swiper-pagination-color: #ffffff;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bottom: 30px;
	--swiper-pagination-bullet-size: 15px;
}

a {
/*Typography stuff*/
    text-decoration: none;
    color: black;
/*Manipulations stuff*/
    -webkit-transition-property: color text-decoration;
    -o-transition-property: color text-decoration;
    transition-property: color text-decoration;
}

ul {
/*Box model stuff*/
    margin: 0;
    padding: 0;
/*Miscellaneous*/
    list-style: none;
}

section {
/*Box model stuff*/
	margin-bottom: 100px;
}

p {
/*Box model stuff*/
	margin-bottom: 0px;
/*Miscellaneous*/
	line-height: 2;
}

button {
/*Box model stuff*/
	padding: 0px;
/*Miscellaneous*/
	cursor: pointer;
}

.container {
/*Box model stuff*/
    max-width: 1770px;
	margin: 0px auto;
	padding: 0px 0px;
}

.section-heading {
/*Typography stuff*/
	font-size: 48px;
	font-weight: normal;
}
.btn {
/*Box model stuff*/
	border-radius: 16px;
}
.btn-main {
/*Box model stuff*/
	border: none;
	background-color: #FF9900;
/*Typography stuff*/
	font-weight: 600;
	color: white;
/*Manipulations stuff*/
	-webkit-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}


.btn-main:hover, .btn-main:focus {
/*Box model stuff*/
	background-color: #FFB84D;
}

.btn-main:active {
/*Box model stuff*/
	background-color: #E1670E;
}
/*-----------------------------------------------------------------------------------------------*/

.header {
/*Box model stuff*/
	max-width: 1920px;
	margin-bottom: 50px;
	margin-left: auto;
    margin-right: auto;
    padding: 14px 0px;
    border-radius: 0 0 32px 32px;
/*Miscellaneous*/
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 10px #f0efef;
            box-shadow: 0px 10px 10px #f0efef;
	
}
.header__container {
/*Display stuff*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
/*Box model stuff*/
	margin: 0px auto;
/*Miscellaneous*/
	gap: 24px;
	
}

.header__burger {
/*Display stuff*/
	display: none;
/*Positioning stuff*/
	z-index: unset;
/*Box model stuff*/
	width: 30px;
	height: 23px;
/*Miscellaneous*/
	cursor: pointer;
	
}

.burger_active {
/*Positioning stuff*/
	position: fixed;
	left: 50px;
	top: 38px;
	z-index: 100;
}
.burger_active .burger-top {
/*Manipulations stuff*/
	-webkit-transform:  rotate(45deg);
	    -ms-transform:  rotate(45deg);
	        transform:  rotate(45deg);
	-webkit-transform-origin: 0% 0%;
	    -ms-transform-origin: 0% 0%;
	        transform-origin: 0% 0%; 
}

.burger_active .burger-middle{
	
/*Manipulations stuff*/
	-webkit-transform: scaleY(0);
	    -ms-transform: scaleY(0);
	        transform: scaleY(0);
}

.burger_active .burger-bottom {
/*Manipulations stuff*/
	-webkit-transform:  rotate(-45deg);
	    -ms-transform:  rotate(-45deg);
	        transform:  rotate(-45deg); 
	-webkit-transform-origin: 0% 100%; 
	    -ms-transform-origin: 0% 100%; 
	        transform-origin: 0% 100%; 
}


.header__buns {
/*Display stuff*/
	display: block;
/*Box model stuff*/
	width: 30px;
	height: 3px;
	margin-bottom: 7px;
	background-color: #000000;
/*Manipulations stuff*/
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.header__logo-link {
/*Box model stuff*/
	margin-right: 24px;
}

.header__logo-image {
/*Box model stuff*/
    max-width: 225px;
	
}

.header__nav {
/*Display stuff*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
/*Box model stuff*/
	padding: 12px 0px;
/*Manipulations stuff*/
	-webkit-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
/*Miscellaneous*/
	overflow: scroll;
}

.header__nav-list {
/*Display stuff*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
/*Typography stuff*/
	font-size: 18px;
	font-weight: 600;
/*Miscellaneous*/
    gap: 75px;
}

.header__nav-link {
/*Box model stuff*/
	padding: 6px;
	border: none;
/*Typography stuff*/
	text-decoration: none;
	color:black;

}
.header__nav-link:hover {
/*Box model stuff*/
	border-bottom: 2px solid #FF9900;
/*Typography stuff*/
	color: black;
}

.header__nav-link:focus {
/*Box model stuff*/
	outline: #FF9900 solid 2px;
/*Typography stuff*/
	color: black;
}

.header__nav-link:active {
/*Box model stuff*/
	border-bottom: 2px solid #E1670E;
/*Typography stuff*/
	color: #FF9900;
}

.header__search-form {
/*Display stuff*/
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
/*Box model stuff*/
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	min-width: 24px;
	min-height: 24px;
	border-radius: 24px;
/*Manipulations stuff*/
	-webkit-transition: padding 0.2s ease-out, 				width 0.1s ease-out 0.4s, 				-webkit-box-shadow  0.3s ease-out;
	transition: padding 0.2s ease-out, 				width 0.1s ease-out 0.4s, 				-webkit-box-shadow  0.3s ease-out;
	-o-transition: padding 0.2s ease-out, 				box-shadow  0.3s ease-out,				width 0.1s ease-out 0.4s;
	transition: padding 0.2s ease-out, 				box-shadow  0.3s ease-out,				width 0.1s ease-out 0.4s;
	transition: padding 0.2s ease-out, 				box-shadow  0.3s ease-out,				width 0.1s ease-out 0.4s, 				-webkit-box-shadow  0.3s ease-out;


}

.search-form-active {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
/*Box model stuff*/
	width: 600px;
	padding: 16px 16px 16px 32px;
/*Manipulations stuff*/
	-webkit-transition: width 0.2s ease-out,				-webkit-box-shadow 0.1s ease-out;
	transition: width 0.2s ease-out,				-webkit-box-shadow 0.1s ease-out;
	-o-transition: width 0.2s ease-out,				box-shadow 0.1s ease-out;
	transition: width 0.2s ease-out,				box-shadow 0.1s ease-out;
	transition: width 0.2s ease-out,				box-shadow 0.1s ease-out,				-webkit-box-shadow 0.1s ease-out;
/*Miscellaneous*/
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-webkit-transition: width 0.2s ease-out,						box-shadow 0.1s ease-out;
	
}

.header__search-input {
/*Display stuff*/
	display: none;
/*Box model stuff*/
	max-width: 0px;
	margin-right: 14px;
	padding: 0px 0px 5px 0px;
	border: none;
	border-bottom: 1px solid #cacaca;
/*Typography stuff*/
	font-size: 18px;
	color: #cacaca;
/*Manipulations stuff*/
	-o-transition: max-width 0.2s ease-out;
	transition: max-width 0.2s ease-out;
/*Miscellaneous*/
	line-height: 1;
	-webkit-transition: max-width 0.2s ease-out;
}

.header__search-input:focus,
.header__search-btn:focus,
.header__close-search-btn:focus {
	outline: #FF9900 solid 1px ;
}

.search-form-active .header__search-input {
/*Display stuff*/
	display: inline;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
/*Box model stuff*/
	max-width: 550px;
	min-width: 50px;                      
/*Manipulations stuff*/
	-o-transition: max-width 0.3s ease-out;
	transition: max-width 0.3s ease-out;
/*Miscellaneous*/
	-webkit-transition: max-width 0.3s ease-out;
}

.header__search-btn {
/*Display stuff*/
	-ms-flex-item-align: end;
	    align-self: flex-end;
/*Box model stuff*/
	width: 24px;
	height: 24px;
	margin-right: 0px;
	border: none;
	background-color: unset;
/*Miscellaneous*/
	vertical-align: middle;
	
}

.search-form-active .header__search-btn {
/*Box model stuff*/
	margin-right: 20px;
}


.header__close-search-btn {
/*Display stuff*/
	display: none;
	-ms-flex-item-align: end;
	    align-self: flex-end;
/*Box model stuff*/
	width: 24px;
	height: 24px;
	border: none;
	background-color: unset;
}



.header__search-btn:after {
/*Display stuff*/
	content: url(../img/search.svg);
/*Box model stuff*/
	width: 24px;
	height: 24px;
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

}

.header__close-search-btn:after {
/*Display stuff*/
	content: url(../img/close_search.svg);
/*Box model stuff*/
	width: 24px;
	height: 24px;
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

}

.search-form-active .header__search-btn:after,
.header__search-btn:hover:after {
/*Display stuff*/
	content: url(../img/search_orange.svg);
}

.header__close-search-btn {
/*Display stuff*/
	display: none;
/*Box model stuff*/
	width: 24px;
	height: 24px;
	border: none;
	background-color: unset;
}

.search-form-active .header__close-search-btn {
/*Display stuff*/
	display: inline-block;
}



/* ---------------------------------------------------------------------------------------------------------------- */
.hero {
/*Box model stuff*/
	margin-bottom: 50px;
}

.hero__swiper-overlay {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
/*Positioning stuff*/
	position: absolute;
	top: 0px; left: 0px;
	top: 0px; left: 0px;
	z-index: 2;
/*Box model stuff*/
	max-width: 1770px;
	padding: 100px 80px;
	border-radius: 32px;
/*Miscellaneous*/
	gap: 24px;
}
.swiper {
/*Box model stuff*/
	max-width: 1770px;
	height: 620px;
	border-radius: 32px;
  }

.swiper-slide {
/*Box model stuff*/
	background-repeat: no-repeat;
	background-size: cover;
  }
.slide1 {
/*Box model stuff*/
	background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.png);
}

.slide2 {
/*Box model stuff*/
	background-image: url(../img/hero-pic-1920-2.png);
}

.slide3 {
/*Box model stuff*/
	background-image: url(../img/hero-pic-1920-3.png);
}

.hero__heading, .hero__text {
/*Box model stuff*/
	max-width: 845px;
/*Typography stuff*/
	color: white;
}

.hero__description {
/*Miscellaneous*/
	overflow: scroll;
}

.hero__heading {
/*Box model stuff*/
	margin-bottom: 24px;
	margin-top: 0px;
/*Typography stuff*/
	font-size: 70px;
	font-weight: 800;	
}

.hero__text {
/*Typography stuff*/
	font-size: 24px;
	font-weight: 600;
}

.hero__btn {
/*Box model stuff*/
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	padding: 25px 39px;
/*Typography stuff*/
	font-size: 23px;
/*Miscellaneous*/
	line-height: 1;	
}
/* --------------------------------------------------------------------------------------------------------------------------- */
.about__heading {
/*Box model stuff*/
	margin-bottom: 20px;
/*Typography stuff*/
	font-weight: normal;
}
.about__text{
/*Box model stuff*/
	max-width: 1235px;
	margin-bottom: 50px;
	
}
.about__offers-container {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
/*Miscellaneous*/
	gap: 32px;
}

.about__offer1 {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
/*Box model stuff*/
	min-width: 40%;
	border-radius: 32px;
	background-image: url(../img/worker.png);
	background-size: cover;
}

.about__offer1-image{
/*Display stuff*/
	display: none;
/*Box model stuff*/
	height: 200px;
	margin-bottom: 8px;
	border-radius: 8px;
	background-image: url(../img/worker.png);
	background-size: cover;
}

.about__offer-heading {
/*Box model stuff*/
	margin-bottom: 10px;
/*Typography stuff*/
	font-size: 24px;
	font-weight: 700;
/*Miscellaneous*/
	line-height: 1;
}
.about__overlay {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
/*Box model stuff*/
	width: inherit;
	padding: 50px;
	border-radius: 32px;
	background-color: rgba(0, 0, 0, 0.5);
/*Miscellaneous*/
	gap: 24px;
}

.about__overlay-text{
/*Display stuff*/
	display: inline-block;
/*Box model stuff*/
	max-width: 433px;
/*Typography stuff*/
	font-weight: 600;
	color: white;
}

.about__more-btn {
/*Display stuff*/
	display: inline-block;
/*Box model stuff*/
	padding: 15px 35px;
	border: 3px solid #FF9900;
	background-color: transparent;
/*Typography stuff*/
	font-weight: 600;
	color: white;
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.about__more-btn:hover, .about__more-btn:focus {
/*Box model stuff*/
	background-color: #FF9900;
}

.about__more-btn:active {
/*Box model stuff*/
	border-color: #E1670E;
	background-color: #E1670E;
}

.about__offers{
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
/*Miscellaneous*/
	gap: 32px;
}

.about__offer2 {
/*Box model stuff*/
	background-image: url(../img/box.svg);
	background-repeat: no-repeat;
}

.about__offer3 {
/*Box model stuff*/
	background-image: url(../img/gear.svg);
	background-repeat: no-repeat;
}

.about-cards {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
/*Box model stuff*/
	min-height: 295px; 
	padding: 24px 115px 24px 300px;
	border: 1px solid #cacaca;
	border-radius: 32px;
	background-position: left 60px center;
}

/* ------------------------------------------------------------------------------------------------------ */
.stages {
/*Box model stuff*/
	margin-bottom: 110px;
}
.stages__heading {
/*Box model stuff*/
	margin-bottom: 50px;
}

.stages__tabs {
/*Box model stuff*/
	margin-bottom: 45px;
}

.stages__tab-btn {
/*Box model stuff*/
	margin-right: 82px;
	padding: 5px;
	border: none;
	background: none;
/*Typography stuff*/
	font-size: 18px;
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
/*Miscellaneous*/
	cursor: pointer;
	line-height: 1;
}

.stages__tabs-li {
/*Display stuff*/
	display: inline;
}
.stages__tab-btn:hover {
/*Typography stuff*/
	color: #FF9900;
}
.stages__tab-btn:focus {
/*Box model stuff*/
	outline:#FF9900 solid 1px;
}

.stages__tab-btn:active,
.tab-btn-active {
/*Typography stuff*/
	color: #E1670E;
}

.stages__tab-content {
/*Display stuff*/
	display: none;
}

.tab-content-active {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
/*Miscellaneous*/
	gap: 50px;
}

.stages__stage-name {
/*Box model stuff*/
	margin-bottom: 8px;
/*Typography stuff*/
	font-size: 24px;
	font-weight: 700;
}

.stages__text {
/*Box model stuff*/
	margin-bottom: 18px;
}

.stages__more-btn{
/*Box model stuff*/
	margin-right: 32px;
	padding: 18px 38px;
}

.stages__agreement-btn {
/*Box model stuff*/
	padding: 18px 38px;
	border: 1px solid black;
	background-color: transparent;
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.stages__agreement-btn:hover,
.stages__agreement-btn:focus {
/*Box model stuff*/
	border-color: #666666;
	background-color: #666666;
/*Typography stuff*/
	color: white;
}

.stages__agreement-btn:active{
/*Box model stuff*/
	border-color: #000000;
	background-color: #000000;
/*Typography stuff*/
	color: white;

}

.stages__description {
/*Box model stuff*/
	max-width: 758px;
}

.stages__image {
/*Box model stuff*/
	width: 100%;
	min-height: 460px;
	border-radius: 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#tab1 {
/*Box model stuff*/
	background-image: url(../img/office.png);	
}

#tab2 {
/*Box model stuff*/
	background-image: url(../img/papers.png);	
}
#tab3 {
/*Box model stuff*/
	background-image: url(../img/laptop.png);	
}
#tab4 {
/*Box model stuff*/
	background-image: url(../img/desk.png);	
}

/* ------------------------------------------------------------------------------------------------------ */

.FAQ__heading {
/*Box model stuff*/
	margin-bottom: 32px;
	
}

.FAQ__table {
/*Box model stuff*/
	width: 100%;
	border-collapse: collapse;
	
}

.FAQ__tr {
/*Box model stuff*/
	border-top: 1px solid #cacaca;
/*Manipulations stuff*/
	-webkit-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

.FAQ__tr:last-of-type {
/*Box model stuff*/
	border-bottom: 1px solid #cacaca;
}

.FAQ__td {
/*Box model stuff*/
	padding: 31px 0px;
}
 
.FAQ__tr:hover, 
.FAQ__accordion-btn:focus  .FAQ__tr{
/*Box model stuff*/
	border-bottom: 1px solid #FF9900;
	border-top: 1px solid #FF9900;
}


.FAQ__accordion-btn {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
/*Box model stuff*/
	width: 100%;
	border: none;
	outline: none;
	background-color: unset;
/*Typography stuff*/
	font-size: 24px;
	font-weight: bold;
	text-align: left;
/*Manipulations stuff*/
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
/*Miscellaneous*/
	line-height: 2;
}

.FAQ__accordion-btn:after {
/*Display stuff*/
display: inline-block;
	content: url(../img/+х.svg);
/*Box model stuff*/
	width: 50px;
	height: 50px;
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.FAQ__accordion-btn:focus::after{
/*Display stuff*/
	content: url(../img/+х-orange.svg);
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.FAQ__tr:hover .FAQ__accordion-btn,
.FAQ__accordion-btn:focus {
/*Typography stuff*/
	color: #FF9900;
}

.FAQ__tr:hover .FAQ__accordion-btn:after {
/*Display stuff*/
	content: url(../img/+х-orange.svg);
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.FAQ__panel {
/*Box model stuff*/
	max-width: 1000px;
	max-height: 0;
/*Manipulations stuff*/
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
/*Miscellaneous*/
	overflow: hidden;
}

.acc_btn_active:after {
/*Manipulations stuff*/
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}



/* ------------------------------------------------------------------------------------------------------ */

.footer {
/*Box model stuff*/
	padding: 75px 0px 50px 0px;
	background-color: black;
	
}

.footer-container {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
/*Miscellaneous*/
	gap: 64px;
	
}

.footer__form-container {
	max-width: 570px;
	flex-grow: 1;
}

.footer__message-us-form {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
/*Miscellaneous*/
	gap: 25px;
}

.footer__heading {
/*Box model stuff*/
	margin-bottom: 25px;
/*Typography stuff*/
	color: #cacaca;
}

.footer__logo {
/*Box model stuff*/
	height: 72px;
	margin-bottom: 20px;

}

.footer__logo,.footer__link {
/*Display stuff*/
	display: block;
}

.footer__links {
/*Display stuff*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__link {
/*Typography stuff*/
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	color: #cacaca;
/*Manipulations stuff*/
	-webkit-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
/*Miscellaneous*/
	line-height: 2;
}

.footer__link:hover {
/*Typography stuff*/
	color: #FF9900;
}

.footer__link:focus {
/*Box model stuff*/
	outline-color: #FF9900;
	outline-style: solid;
	outline-width: 1px;
	outline-offset: 5px; 
}

.footer__link:active {
/*Typography stuff*/
	color: #E1670E;
}

.footer__socials-icon { 
/*Display stuff*/
	display: inline-block;
/*Box model stuff*/
    width: 70px;
    height: 70px;
	margin-right: 15px;
    background: #666666; 
/*Manipulations stuff*/
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
/*Miscellaneous*/
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 60px 60px;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 60px 60px;
}

.footer__socials-icon:hover { 
/*Box model stuff*/
    background: #cc9933;
}

.footer__socials-icon:active {
/*Box model stuff*/
	background: #E1670E;
}

.footer__socials-icon:focus {
/*Box model stuff*/
	outline-color: #FF9900;
	outline-style: solid;
	outline-width: 1px;
	outline-offset: 5px; 
    background: #666666;
}

.ok-icon {
/*Miscellaneous*/
    -webkit-mask-image: url(../img/ok.svg);
    mask-image: url(../img/ok.svg);
}

.vk-icon {
/*Miscellaneous*/
    -webkit-mask-image: url(../img/vk.svg);
    mask-image: url(../img/vk.svg);
}

.footer__input {
/*Box model stuff*/
	max-width: 100%;
	padding: 14px;
	border: none;
	border-radius: 16px;
	background-color: #414141;
/*Typography stuff*/
	color: #ffffff;
}

.footer__input::-webkit-input-placeholder {
/*Typography stuff*/
	color: #cacaca;
}

.footer__input::-moz-placeholder {
/*Typography stuff*/
	color: #cacaca;
}

.footer__input:-ms-input-placeholder {
/*Typography stuff*/
	color: #cacaca;
}

.footer__input::-ms-input-placeholder {
/*Typography stuff*/
	color: #cacaca;
}

.footer__input::placeholder {
/*Typography stuff*/
	color: #cacaca;
}

.footer__input:hover, .footer__input:focus, .footer__input:active {
/*Box model stuff*/
	outline: none;
	background-color: #666666;
}

.textarea {
/*Box model stuff*/
	height: 150px;
}

.footer__submit {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 22px;
}

.footer__submit-btn {
/*Box model stuff*/
	/* margin-left: 12px; */
	margin-bottom: 12px;
	padding: 19px 52px;
}

.footer__pd-checkbox {
	display: block;
	position: relative;
	padding-left: 22px;
	margin-bottom: 12px;
	cursor: pointer;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footer__pd-use {
/*Miscellaneous*/
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
 	top: 0;
	left: 0; 
	height: 11px;
	width: 11px;
	border: 2px solid #cacaca;
	border-radius: 2px;
	background-color: unset;
}

.checkmark::before {
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;
	bottom: 0;
	content: url("/img/check.svg");
	text-align: center;
	
	opacity: 0;
}

.footer__pd-use:checked + .checkmark:before{
	display: block;
	opacity: 1;
}

.footer__legal-info {
/*Display stuff*/
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
/*Box model stuff*/
	max-width: 363px;
/*Typography stuff*/
	color: #cacaca;
}

label {
/*Typography stuff*/
	color: #cacaca;
}

/* ------------------------------------------------------------------------------------------------------ */

/* This stylesheet generated by Transfonter (https://transfonter.org) on October 3, 2017 10:05 PM */

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-MediumItalic.eot');
	src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
		url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
		url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Thin.eot');
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
		url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Thin.woff') format('woff'),
		url('../fonts/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraLightItalic.eot');
	src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
		url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-BoldItalic.eot');
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
		url('../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-BoldItalic.woff') format('woff'),
		url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraLight.eot');
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
		url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
		url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
	src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
		url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Italic.eot');
	src: local('Montserrat Italic'), local('Montserrat-Italic'),
		url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Italic.woff') format('woff'),
		url('../fonts/Montserrat-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-LightItalic.eot');
	src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
		url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-LightItalic.woff') format('woff'),
		url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-BlackItalic.eot');
	src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
		url('../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-BlackItalic.woff') format('woff'),
		url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBoldItalic.eot');
	src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
		url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
		url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Black.eot');
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Black.woff') format('woff'),
		url('../fonts/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ThinItalic.eot');
	src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
		url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
		url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
