
body {
/*Typography stuff*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	/* padding: 0px 75px; */
	--swiper-pagination-bullet-inactive-color: #cacaca;
	--swiper-pagination-color: #ffffff;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bottom: 30px;
	--swiper-pagination-bullet-size: 15px;
}

a {
/*Typography stuff*/
    text-decoration: none;
    color: black;
/*Manipulations stuff*/
    transition-property: color text-decoration;
}

ul {
/*Box model stuff*/
    margin: 0;
    padding: 0;
/*Miscellaneous*/
    list-style: none;
}

/* img {
/*Box model stuff
    max-width: 100%;
} */

section {
/*Box model stuff*/
	margin-bottom: 100px;
}

p {
/*Box model stuff*/
	margin-bottom: 0px;
/*Miscellaneous*/
	line-height: 2;
}

button {
/*Box model stuff*/
	padding: 0px;
/*Miscellaneous*/
	cursor: pointer;
	/* font-stretch: expanded; */
}

.container {
/*Box model stuff*/
    max-width: 1770px;
	margin: 0px auto;
	padding: 0px 0px;
}

.section-heading {
/*Typography stuff*/
	font-size: 48px;
	font-weight: normal;
}
.btn {
	border-radius: 16px;
}
.btn-main {
/*Box model stuff*/
	border: none;
	
	background-color: #FF9900;
/*Typography stuff*/
	font-weight: 600;
	color: white;
/*Manipulations stuff*/
	transition: background-color 0.2s ease-out;
}


.btn-main:hover, .btn-main:focus {
/*Box model stuff*/
	background-color: #FFB84D;
}

.btn-main:active {
/*Box model stuff*/
	background-color: #E1670E;
}
/*-----------------------------------------------------------------------------------------------*/

.header {
/*Box model stuff*/
	max-width: 1920px;
	margin-bottom: 50px;
	margin-left: auto;
    margin-right: auto;
    padding: 14px 0px;
    border-radius: 0 0 32px 32px;
/*Miscellaneous*/
    overflow: hidden;
    box-shadow: 0px 10px 10px #f0efef;
	
}
.header__container {
/*Display stuff*/
    display: flex;
	justify-content: space-between;
	align-items: center;
/*Box model stuff*/
	margin: 0px auto;
	gap: 24px;
	
}

.header__burger {
/*Display stuff*/
	display: none;
	width: 30px;
	height: 23px;
	cursor: pointer;
	z-index: unset;
	
}

.burger_active {
	z-index: 100;
	position: fixed;
	left: 50px;
	top: 38px;
}
.burger_active .burger-top {
	transform:  rotate(45deg);
	transform-origin: 0% 0%; 
}

.burger_active .burger-middle{
	
	transform: scaleY(0);
}

.burger_active .burger-bottom {
	transform:  rotate(-45deg); 
	transform-origin: 0% 100%; 
}


.header__buns {
	display: block;
	width: 30px;
	height: 3px;
	margin-bottom: 7px;
	background-color: #000000;
	transition: all 0.5s;
}

.header__logo-link {
	margin-right: 24px;
}

.header__logo-image {
/*Box model stuff*/
    max-width: 225px;
	/* margin-left: auto; */
	
}



.header__nav {
/*Display stuff*/
    display: flex;
    align-items: center;
/*Box model stuff*/
	transition: height 0.3s ease-out;
	overflow: scroll;
	padding: 12px 0px;
}

.header__nav-list {
/*Display stuff*/
    display: flex;
    flex-direction: row;
/*Typography stuff*/
	font-size: 18px;
	font-weight: 600;
/*Miscellaneous*/
    gap: 75px;
}

.header__nav-link {
/*Box model stuff*/
	padding: 6px;
	border: none;
/*Typography stuff*/
	text-decoration: none;
	color:black;

}
.header__nav-link:hover {
/*Box model stuff*/
	border-bottom: 2px solid #FF9900;
/*Typography stuff*/
	color: black;
}

.header__nav-link:focus {
/*Box model stuff*/
	outline: #FF9900 solid 2px;
/*Typography stuff*/
	color: black;
}

.header__nav-link:active {
/*Box model stuff*/
	border-bottom: 2px solid #E1670E;
/*Typography stuff*/
	color: #FF9900;
}

.header__search-form {
/*Display stuff*/
	align-self: center;
/*Box model stuff*/
	width: fit-content;
	min-width: 24px;
	min-height: 24px;
	/* margin-right: auto; */
	border-radius: 24px;
/*Manipulations stuff*/
	transition: padding 0.2s ease-out, 				box-shadow  0.3s ease-out,				width 0.1s ease-out 0.4s;


}

.search-form-active {
/*Display stuff*/
	display: flex;
	flex-direction: row;
/*Box model stuff*/
	width: 600px;
	/* margin-left: 32px; */
	padding: 16px 16px 16px 32px;
/*Manipulations stuff*/
	transition: width 0.2s ease-out,				box-shadow 0.1s ease-out;
/*Miscellaneous*/
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-webkit-transition: width 0.2s ease-out,						box-shadow 0.1s ease-out;
	
}

.header__search-input {
	display: none;
/*Box model stuff*/
	max-width: 0px;
	margin-right: 14px;
	padding: 0px 0px 5px 0px;
	border: none;
	border-bottom: 1px solid #cacaca;
/*Typography stuff*/
	font-size: 18px;
	color: #cacaca;
/*Manipulations stuff*/
	transition: max-width 0.2s ease-out;
/*Miscellaneous*/
	line-height: 1;
	-webkit-transition: max-width 0.2s ease-out;
}

.search-form-active .header__search-input {
/*Display stuff*/
display: inline;
	flex-grow: 1;
/*Box model stuff*/
	max-width: 450px;
	min-width: 50px;                      
/*Manipulations stuff*/
	transition: max-width 0.3s ease-out;
/*Miscellaneous*/
	-webkit-transition: max-width 0.3s ease-out;
}

.header__search-btn {
/*Display stuff*/
	align-self: flex-end;
/*Box model stuff*/
	width: 24px;
	height: 24px;
	margin-right: 0px;
	border: none;
	background-color: unset;
/*Miscellaneous*/
	vertical-align: middle;
	
}

.search-form-active .header__search-btn {
/*Box model stuff*/
	margin-right: 20px;
}


.header__close-search-btn {
/*Display stuff*/
	display: none;
	align-self: flex-end;
/*Box model stuff*/
	width: 24px;
	height: 24px;
	border: none;
	background-color: unset;
}

.header__search-btn:focus,
.header__search-input:focus {
/*Box model stuff*/
	outline: none;
}

.header__search-btn:after {
/*Display stuff*/
	content: url(../img/search.svg);
/*Box model stuff*/
	width: 24px;
	height: 24px;
/*Manipulations stuff*/
	transition: all 0.2s ease-out;

}

.header__close-search-btn:after {
/*Display stuff*/
	content: url(../img/close_search.svg);
/*Box model stuff*/
	width: 24px;
	height: 24px;
/*Manipulations stuff*/
	transition: all 0.2s ease-out;

}

/* .header__search-btn:hover:after {

	content: url(../img/search_orange.svg);
} */

.search-form-active .header__search-btn:after,
.header__search-btn:hover:after {
/*Display stuff*/
	content: url(../img/search_orange.svg);
}

.header__close-search-btn {
/*Display stuff*/
	display: none;
/*Box model stuff*/
	width: 24px;
	height: 24px;
	border: none;
	background-color: unset;
}

.search-form-active .header__close-search-btn {
/*Display stuff*/
	display: inline-block;
}



/* ---------------------------------------------------------------------------------------------------------------- */
.hero {
/*Box model stuff*/
	margin-bottom: 50px;
}

.hero__swiper-overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
	position: absolute;
	top: 0px; left: 0px;
	z-index: 2;

/*Box model stuff*/
	max-width: 1770px;
	padding: 100px 80px;
	border-radius: 32px;
}
.swiper {
	max-width: 1770px;
	height: 620px;
	border-radius: 32px;
  }

.swiper-slide {
	background-repeat: no-repeat;
	background-size: cover;
  }
.slide1 {
	background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.png);
}

.slide2 {
	background-image: url(../img/hero-pic-1920-2.png);
}

.slide3 {
	background-image: url(../img/hero-pic-1920-3.png);
}




.hero__heading, .hero__text {
/*Box model stuff*/
	max-width: 845px;
/*Typography stuff*/
	color: white;
	
}

.hero__description {
	overflow: scroll;
}

.hero__heading {
/*Box model stuff*/
	margin-bottom: 24px;
/*Typography stuff*/
	font-size: 70px;
	font-weight: 800;	
}

.hero__text {
/*Box model stuff*/
	
/*Typography stuff*/
	font-size: 24px;
	font-weight: 600;
}

.hero__btn {
/*Box model stuff*/
	padding: 25px 39px;
/*Typography stuff*/
	font-size: 23px;
/*Miscellaneous*/
line-height: 1;
max-width: fit-content;
/* margin-bottom: auto; */
	
}
/* --------------------------------------------------------------------------------------------------------------------------- */
.about__heading {
/*Box model stuff*/
	margin-bottom: 20px;
/*Typography stuff*/
	font-weight: normal;
}
.about__text{
/*Box model stuff*/
	max-width: 1235px;
	margin-bottom: 50px;
	
}
.about__offers-container {
/*Display stuff*/
	display: flex;
	flex-direction: row;
/*Miscellaneous*/
	gap: 32px;
}

.about__offer1 {
/*Display stuff*/
	display: flex;
	flex-direction: column-reverse;
/*Box model stuff*/
	min-width: 40%;
	border-radius: 32px;
	background-image: url(../img/worker.png);
	background-size: cover;
	flex-shrink: 1;
	flex-grow: 1;
}

.about__offer1-image{
	display: none;
	background-image: url(../img/worker.png);
	background-size: cover;
	height: 200px;
	border-radius: 8px;
	margin-bottom: 8px;

}

.about__offer-heading {
/*Box model stuff*/
	margin-bottom: 10px;
/*Typography stuff*/
	font-size: 24px;
	font-weight: 700;
/*Miscellaneous*/
	line-height: 1;
}
.about__overlay {
/*Display stuff*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
/*Box model stuff*/
	width: inherit;
	padding: 50px;
	border-radius: 32px;
	background-color: rgba(0, 0, 0, 0.5);
	gap: 24px;
}

.about__overlay-text{
/*Display stuff*/
	display: inline-block;
/*Box model stuff*/
	max-width: 433px;
/*Typography stuff*/
	font-weight: 600;
	color: white;

}

.about__more-btn {
/*Display stuff*/
	display: inline-block;
/*Box model stuff*/
	padding: 15px 35px;
	border: 3px solid #FF9900;
	background-color: transparent;
/*Typography stuff*/
	font-weight: 600;
	color: white;
/*Manipulations stuff*/
	transition: all 0.2s ease-out;
}

.about__more-btn:hover, .about__more-btn:focus {
/*Box model stuff*/
	background-color: #FF9900;
}

.about__more-btn:active {
/*Box model stuff*/
	border-color: #E1670E;
	background-color: #E1670E;
}

.about__offers{
/*Display stuff*/
	display: flex;
	flex-direction: column;
/*Box model stuff*/
	/* max-width: 870px; */
/*Miscellaneous*/
	gap: 32px;
}

.about__offer2 {
/*Box model stuff*/
	background-image: url(../img/box.svg);
	background-repeat: no-repeat;
}

.about__offer3 {
/*Box model stuff*/
	background-image: url(../img/gear.svg);
	background-repeat: no-repeat;
}

.about-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
/*Box model stuff*/
	/* width: 870px;*/
	min-height: 295px; 
	padding: 24px 115px 24px 300px;
	border: 1px solid #cacaca;
	border-radius: 32px;
	background-position: left 60px center;
	flex-grow: 1;
	flex-shrink: 1;
}

/* ------------------------------------------------------------------------------------------------------ */
.stages {
/*Box model stuff*/
	margin-bottom: 110px;
}
.stages__heading {
/*Box model stuff*/
	margin-bottom: 50px;
}

.stages__steps-list {
/*Box model stuff*/
	margin-bottom: 45px;
}

.stages__steps-item {
/*Display stuff*/
	display: inline;
/*Box model stuff*/
	margin-right: 82px;
/*Typography stuff*/
	font-size: 18px;
/*Manipulations stuff*/
	transition: all 0.2s ease-out;
/*Miscellaneous*/
	cursor: pointer;
	line-height: 1;
}

.stages__steps-item:hover {
/*Typography stuff*/
	color: #FF9900;
}
.stages__steps-item:focus {
/*Box model stuff*/
	outline:#FF9900 solid 1px 5px;
}

.stages__steps-item:active {
/*Typography stuff*/
	color: #E1670E;
}

.stages__carousel {
/*Display stuff*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 50px;
}

.stages__stage-name {
/*Box model stuff*/
	margin-bottom: 8px;
/*Typography stuff*/
	font-size: 24px;
	font-weight: 700;
}

.stages__text {
/*Box model stuff*/
	margin-bottom: 18px;
}

.stages__more-btn{
/*Box model stuff*/
	margin-right: 32px;
	padding: 18px 38px;
}

.stages__agreement-btn {
/*Box model stuff*/
	padding: 18px 38px;
	border: 1px solid black;
	
	background-color: transparent;
/*Manipulations stuff*/
	transition: all 0.2s ease-out;
}

.stages__agreement-btn:hover, .stages__agreement-btn:focus {
/*Box model stuff*/
	border-color: #666666;
	background-color: #666666;
/*Typography stuff*/
	color: white;
}

.stages__agreement-btn:active{
/*Box model stuff*/
	border-color: #000000;
	background-color: #000000;
/*Typography stuff*/
	color: white;

}

.stages__description {
/*Box model stuff*/
	max-width: 758px;
}

.stages__image {
/*Box model stuff*/
	width: 100%;
	border-radius: 32px;
	background-image: url(../img/office.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

/* ------------------------------------------------------------------------------------------------------ */

.FAQ__heading {
/*Box model stuff*/
	margin-bottom: 32px;
	
}

.FAQ__table {
/*Box model stuff*/
	width: 100%;
	border-collapse: collapse;
	
}

.FAQ__tr {
/*Box model stuff*/
	border-top: 1px solid #cacaca;
/*Manipulations stuff*/
	transition: 0.2s ease-out;
}

.FAQ__tr:last-of-type {
/*Box model stuff*/
	border-bottom: 1px solid #cacaca;
}

.FAQ__td {
/*Box model stuff*/
	padding: 31px 0px;
}

.FAQ__tr:hover {
/*Box model stuff*/
	border-bottom: 1px solid #FF9900;
	border-top: 1px solid #FF9900;
}


.FAQ__accordion-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
/*Box model stuff*/
	width: 100%;
	border: none;
	outline: none;
	background-color: unset;
/*Typography stuff*/
	font-size: 24px;
	font-weight: bold;
	text-align: left;
/*Manipulations stuff*/
	transition: 0.2s;
/*Miscellaneous*/
	line-height: 2;
}

.FAQ__accordion-btn:after {
/*Display stuff*/
	content: url(../img/+х.svg);
/*Box model stuff*/
	width: 50px;
	height: 50px;
/*Manipulations stuff*/
	transition: all 0.2s ease-out;
/*Miscellaneous*/
	/* float: right; */
}


.FAQ__tr:hover .FAQ__accordion-btn:after{
/*Display stuff*/
	content: url(../img/+х-orange.svg);
/*Manipulations stuff*/
	transition: all 0.2s ease-out;
}

.FAQ__panel {
/*Box model stuff*/
	max-width: 1000px;
	max-height: 0;
/*Manipulations stuff*/
	transition: all 0.2s ease-out;
/*Miscellaneous*/
	/* margin-bottom: 40px; */
	overflow: hidden;
}

.acc_btn_active:after {
/*Manipulations stuff*/
	transform: rotate(45deg);
	transition: all 0.2s ease-out;
}



/* ------------------------------------------------------------------------------------------------------ */

.footer {
/*Box model stuff*/
	padding: 75px 0px 50px 0px;
	background-color: black;
	
}

.footer-container {
/*Display stuff*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 64px;
	
}

.footer__message-us-form {
/*Display stuff*/
	display: flex;
	flex-direction: column;
/*Box model stuff*/
	max-width: 570px;
/*Miscellaneous*/
	gap: 25px;
}

.footer__heading {
/*Box model stuff*/
	margin-bottom: 25px;
/*Typography stuff*/
	color: #cacaca;
}

.footer__logo {
/*Box model stuff*/
	margin-bottom: 20px;
	height: 72px;

}

.footer__logo,.footer__link {
/*Display stuff*/
	display: block;
}

.footer__links {
/*Display stuff*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}

.footer__link {
/*Typography stuff*/
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	color: #cacaca;
/*Manipulations stuff*/
	transition: 0.2s ease-out;
/*Miscellaneous*/
	/* padding: 2px 5px; */
	line-height: 2;
}

.footer__link:hover {
/*Typography stuff*/
	color: #FF9900;
}

.footer__link:focus {
/*Box model stuff*/
	outline-color: #FF9900;
	outline-style: solid;
	outline-width: 1px;
	outline-offset: 5px; 
}

.footer__link:active {
/*Typography stuff*/
	color: #E1670E;
}

.footer__socials-icon { 
/*Display stuff*/
	display: inline-block;
/*Box model stuff*/
    width: 70px;
    height: 70px;
	margin-right: 15px;
    background: #666666; 
/*Manipulations stuff*/
    transition-duration: 0.2s;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 60px 60px;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 60px 60px;
}

.footer__socials-icon:hover { 
/*Box model stuff*/
    background: #cc9933;
}

.footer__socials-icon:active {
/*Box model stuff*/
	background: #E1670E;
}

.footer__socials-icon:focus {
/*Box model stuff*/
	outline-color: #FF9900;
	outline-style: solid;
	outline-width: 1px;
	outline-offset: 5px; 
    background: #666666;
/*Miscellaneous*/
	/* border: 2px solid #FF9900; */
}

.ok-icon {
/*Miscellaneous*/
    -webkit-mask-image: url(../img/ok.svg);
    mask-image: url(../img/ok.svg);
}

.vk-icon {
/*Miscellaneous*/
    -webkit-mask-image: url(../img/vk.svg);
    mask-image: url(../img/vk.svg);
}

.footer__input {
/*Box model stuff*/
	max-width: 100%;
	padding: 14px;
	border: none;
	border-radius: 16px;
	background-color: #414141;
/*Typography stuff*/
	color: #ffffff;
}

.footer__input::placeholder {
/*Typography stuff*/
	color: #cacaca;
}

.footer__input:hover, .footer__input:focus, .footer__input:active {
/*Box model stuff*/
	outline: none;
	background-color: #666666;
}

.textarea {
/*Box model stuff*/
	height: 150px;
}

.footer__submit-btn {
/*Box model stuff*/
	margin-right: 22px;
	padding: 19px 52px;
}
.footer__pd-use {
	white-space: nowrap;
}

.footer__legal-info {
/*Display stuff*/
	align-self: center;
/*Box model stuff*/
	max-width: 363px;
/*Typography stuff*/
	color: #cacaca;
}

label {
/*Typography stuff*/
	color: #cacaca;
}

/* ------------------------------------------------------------------------------------------------------ */

/* This stylesheet generated by Transfonter (https://transfonter.org) on October 3, 2017 10:05 PM */

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-MediumItalic.eot');
	src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
		url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
		url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Thin.eot');
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
		url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Thin.woff') format('woff'),
		url('../fonts/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraLightItalic.eot');
	src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
		url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-BoldItalic.eot');
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
		url('../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-BoldItalic.woff') format('woff'),
		url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraLight.eot');
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
		url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
		url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
	src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
		url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Italic.eot');
	src: local('Montserrat Italic'), local('Montserrat-Italic'),
		url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Italic.woff') format('woff'),
		url('../fonts/Montserrat-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-LightItalic.eot');
	src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
		url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-LightItalic.woff') format('woff'),
		url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-BlackItalic.eot');
	src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
		url('../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-BlackItalic.woff') format('woff'),
		url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBoldItalic.eot');
	src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
		url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
		url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Black.eot');
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Black.woff') format('woff'),
		url('../fonts/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ThinItalic.eot');
	src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
		url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
		url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
